/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbarone {
  height: 80px;
  border: transparent;
  padding: 20px;
  background-image: url(./sky.png);
}
.navli {
  float: right;
  padding: 10px;
}
.nava {
  color: black;
}
.nava:hover {
  color: red;
  font-size: larger;
  text-decoration: overline;
}
#plan1 {
  border: transparent;
  background-image: url(./sky.png);
}

/* ---------------------------third---------------------------------------------  */
#thrid {
  color: aqua;
  height: 50px;
  padding: 25px 0px 0px 0px;
}

.span1 {
  padding: 0px 30px;
  margin: 20px 50px;
}
.span2 {
  padding: 0px 10px 0px 70px;
}
.span3 {
  padding: 0px 10px 0px 10px;
}
.span4 {
  padding: 0px 10px 0px 10px;
}
#tplan {
  margin: 20px 80px 20px;
  height: 80px;
  width: 600px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card1 {
  border: 2px solid blue;
  font-family: sans-serif;
  font-style: italic;
  padding: 15px;
  width: 150px;
  background-color: darkblue;
  color: white;
  position: absolute;
  margin-left: 80px;
  border-radius: 10px;
}
.card2 {
  border: 2px solid blue;
  font-family: sans-serif;
  font-style: italic;
  padding: 15px;
  width: 150px;
  background-color: darkblue;
  color: white;
  position: absolute;
  left: 170px;
  margin-left: 480px;
  border-radius: 10px;
}
/* _____--------------4--------------------- */
.card3 {
  border: 2px solid blue;
  font-family: sans-serif;
  font-style: italic;
  padding: 15px;
  width: 150px;
  background-color: darkblue;
  color: white;
  position: relative;
  left: 350px;
  margin-left: 800px;
  border-radius: 10px;
}
.btn1 {
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: blue;
  border: transparent;
}
.btn2 {
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: blue;
  border: transparent;
}
.btn3 {
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: blue;
  border: transparent;
  /* -------------------5----------------------- */
}
#testimonials {
  margin: 30px 10px 20px 80px;
  width: 500px;
}
/* -----------------------------5-------------------- */
.card4 {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  padding: 15px;
  position: absolute;
  margin-left: 80px;
  box-shadow: 0px 2px 1px 2px gray;
}
.card5 {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  padding: 15px;
  position: absolute;
  margin-left: 650px;
  box-shadow: 0px 2px 1px 2px gray;
}
.card6 {
  border: 1px solid black;
  height: 200px;
  width: 300px;
  padding: 15px;
  position: relative;
  margin-left: 1150px;
  box-shadow: 0px 2px 1px 2px gray;
}
#carddad2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* ---------------------------------6---------------------- */
.avaimg1 {
  height: 50px;
  width: 50px;
  position: absolute;
}
.avaname1 {
  display: inline;
  position: absolute;
  margin-left: 130px;
}
.avacity1 {
  position: relative;
  margin: 0px 0px 0px 120px;
  padding: 30px 0px;
}
.avaimg2 {
  height: 50px;
  width: 50px;
  position: absolute;
}
.avaname2 {
  display: inline;
  position: absolute;
  margin-left: 130px;
}
.avacity2 {
  position: relative;
  margin: 0px 0px 0px 120px;
  padding: 30px 0px;
}
.avaimg3 {
  height: 50px;
  width: 50px;
  position: absolute;
}
.avaname3 {
  display: inline;
  position: absolute;
  margin-left: 130px;
}
.avacity3 {
  position: relative;
  margin: 0px 0px 0px 120px;
  padding: 30px 0px;
}
#avature1 {
  position: absolute;
  margin-left: 80px;
}
#avature2 {
  position: absolute;
  margin-left: 650px;
}
#avature3 {
  position: relative;
  margin-left: 1150px;
}
#vedio {
  position: absolute;
}
#videonear {
  width: 250px;
  border: transparent;
  overflow: hidden;
  height: 500px;
  position: relative;
  left: 1200px;
}
.btn5 {
  background-color: rgb(93, 157, 157);
  color: blue;
  border-radius: 5px;
  padding: 5px;
}
#plan1 {
  margin-top: 30px;
  padding: 30px;
}
.monthbutton {
  margin-left: 1050px;
  background-color: blue;
  padding: 5px;
  border-radius: 5px;
}
#contact {
  padding: 20px;
  height: 350px;
  width: 250px;

  position: absolute;
  margin-left: 80px;
  margin-top: 30px;
}
#categories {
  padding: 20px;
  height: 350px;
  width: 250px;

  position: absolute;
  margin-left: 650px;
  margin-top: 30px;
}
#date {
  padding: 20px;
  height: 350px;
  width: 250px;

  position: relative;
  margin-left: 1150px;
  margin-top: 30px;
}
#footer{
  border: 2px solid black;
  height: 40px;
}
.fh{
  position: absolute;
  margin-left: 60px;

}
.fspan{
  position: relative;
  margin-left: 150px;

}
